.news {
    background-color: white;
}
.news-block {
    background-color: #F5F8FD;
}
.next-page-blocks {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding-bottom: 40px;
}
.current-next-page-block {
    padding:6px 13px 6px 13px ;
    border-radius: 10px;
    background-color:#B58763 ;
}
.next-page-block {
    padding:6px 13px 6px 13px ;
    border-radius: 10px;
    border: 1px solid #B58763;
}
.current-page {
    color: white;
}