* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1024px;
    max-width: 100%;
    margin: 0 auto;
}

/* text */
.golos-text {
    font-family: "Golos Text";
    font-weight: 400;
    font-size: 0.875rem;
    color: #B58763;
    line-height: 20px;
}

.golos-hint-text {
    font-family: "Open Sans", sans-serif;
    font-size: 0.625rem;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    color: #A89B9D;
}

h1     /* H1 24px */
{
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    font-style: normal;
    line-height: 35px;
    color: white;
}
h2     /* H2 20px*/
{
    font-family: "Montserrat", sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    font-style: normal;
    line-height: 24px;
}
h3     /* H3 18px*/
{
    font-family: "Montserrat", sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
}
.text-button  /* Кнопки 16px*/ 
{
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    color: white;
}

.text-button-white  /* Кнопки 16px*/ 
{
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    color: white;
}

.heading-text /* заголовки внтури блока */ 
{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    font-style: normal;
    color: #161618;
}

.hint-text {
    font-family: "Open Sans", sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    color: #A89B9D;
}

h4 /* main-text основной текст 14px*/ 
{
    font-family: "Open Sans", sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    font-style: normal;
    line-height: 20px;
}

.menu-text-logo {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    color: white;
}
.menu-text {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    color: white;
}

/*ТИТУЛЬНИК ПОД ШАПКОЙ */

.page-title {
    margin: 0;
    background-color: #06131B;
    box-shadow: inset 0em 0.1em .2em rgb(0, 0, 0);
}

.bg-page-title {
    padding: 20px 0px 20px 0px;
}

/* МЕНЮ */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    background-color: #06131B;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 85px;


  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #bdbdbd;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    margin-top: 20px;
    margin-left: 270px;
  }

/* шапка */

.header {
    width: 100%;
    height: 74px;
    background-color: #06131B;
}

.info-header {
    display: flex;
    align-items: center;

}

.block-h-1 {
    display: flex;
    align-items: center;
    padding: 20px 0 20px 0px;
}

.emblem {
    margin-right: 16px;
}

.block-h-2 div {
    display: flex;
    padding: 0 12px 0px 12px;
}

.block-h-2 a {
    text-decoration: none;
    color: white;
}

.block-h-2 {
    margin-left: 48px;
}

.block-h-3 {
    margin-left: 180px;
}

.header-content {
    width: 100%;
    height: 483px;
    background: linear-gradient(0deg, #B5876380, #0E1F2C80), url(../images/bg-header.png) no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content-text {
    width: 672px;
    height: 235px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.header-text h1 {
    font-weight: 600;
}

.header_button {
   background-color: white;
   color: black;
   padding: 12px 22px 12px 22px;
   border-radius: 5px;
   display: flex;
   border: none;
}

/* блок qr */

.main-qr{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px 40px 0px;
}

.info-qr h2 {
    padding-bottom: 20px;
}

.block-1{
    padding-top: 69px;
    padding-left: 20px;
}

.block-2{
    width: 476px;
    height: 151px;
    padding-left: 20px;
}


.blocks-info{
    display: flex;
    height: 372px;
    background-color:#FFE1E1;
    padding: 10px 0px 10px 0px;
}

.block-infos {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.block-1 div h4{
font-weight: 600;
}


/* Новости*/
.news{
    background-color: #F5F8FD;
}
.news-content  {
    padding-top: 40px;
    padding-bottom: 20px;
}
.news-blocks {
    padding: 20px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
.news-block {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 12px;
    width: 288px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}
.news-block img {
    width: 100%;
}
.button-news {
    display: flex;
    justify-content: flex-end;
}
.button-color {
    background-color: #B58763;
    border: 0;
    padding: 12px 20px;
    border-radius: 5px;
}

.button-color a {
    text-decoration: none;
    color: white;
}
/*Информация */
.info {
    background-color:#0E1F2C ;
}

.info-text {    
    display: flex;
    flex-direction: column;
    padding-bottom:16px;
    color: white;
}
.info-content-text  > .info-text {
    padding-bottom: 34px;
}
.info-text .heading-text {
    padding-top: 10px;
}
.info-content {
    display: flex;
    justify-content: center;
    height: 404px;
    padding-bottom: 30px;
}
.info-content-text {
    padding-top: 40px;
}
.info-blocks {
    width: 1023px;
    background-color: #F5F8FD;
    border-radius: 10px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 13px;
    column-gap:32px ;

}
.info-block {
    display: flex;
    gap: 20px;
}
.info-block img {
    height: 100px;
    width: 100px;
}

.page-title {
    background-color: #06131B;
    box-shadow: inset 0em 0.1em .2em rgb(0, 0, 0);
}
.form-text-blocks {
    background-color:#F5F8FD ;
}
.bg-page-title {
    padding: 20px 0px 20px 0px;
}

.button-color-info {
    background-color: #F5F8FD;
    border: 1px solid #B58763;
    padding: 12px 20px;
    border-radius: 5px;
    color: #161618;
}

/* Полезные ресурсы */

.resources-info {
    padding-top: 40px;
}

.r-info {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 40px 0px 20px 0px;
}

.resources-partners img {
    width: 144px;
}

.resources-partners {
    display: flex;
    column-gap: 32px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px 0px 20px 0px;
}

/* СМИ */
.smi {
    background-color: #0E1F2C;
    width: 100%;
}

.smi h2 {
    padding-top: 40px;
    color: white;
}

.smi-info a {
    text-decoration: none;
    color: #B58763;
}

.smi-info {
    width: 470px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 40px 0 50px 0;
}

.hint-text p {
    font-size: 0.625rem;
    padding-top: 5px;
}

.pdf {
    display: flex;
    column-gap: 24px;
    padding-bottom: 40px;
}

/* школа приемных родителей */
.main-school{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 22px;
}

.info-school div h2 {
    padding-top: 20px;
    padding-bottom: 40px;
}

.blocks-school{
    display: flex;
    flex-direction: row;
    background-color: #46AE7C;
    padding: 10px 0px 10px 0px;
}

.block-school-1{
    padding-top: 69px;
    padding-left: 20px;
}

.block-school-2{
    width: 476px;
    height: 151px;
    padding-left: 20px;
    padding-right: 32px;
}

.block-school-1 div h4{
    padding-bottom: 35px;
    font-weight: 600;
    color: white;
}

.block-school-2 div h4{
    font-weight: 400;
    color: white;
}

.blocks-school img {
    width: 496px;
    height: 352px;
}

.about-center {
    padding-bottom: 68px;
}

.center-info {
    display: flex;
    column-gap: 32px;
}

.about-center-info {
    background-color: #F5F8FD;
    border-radius: 10px;
    padding: 20px;
}

.about-center div h4{
    font-weight: 400;
    width: 456px;
}

.time-lesson {
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 320px;
}

.time-t1 h4 {
    padding-top: 10px;
    color: #B58763;
    font-weight: 600;
}

.time-t2 h4 {
    font-weight: 600;
}

/* Местоположение центра*/
.place-center{
    background-color: #F5F8FD;
    padding-top: 40px;
    padding-bottom: 20px;
}

.place {
    padding-top: 40px;
    display: flex;
    gap:32px;
}

.map {
    border-radius: 10px;
    overflow: hidden;
}

.place-info {
    background-color:white;
    width: 496px;
    height: 223px;
    border: 1px solid #D6C3BC;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.place-info1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.place-name h4 {
    color: #0E1F2C;
    font-weight: 600;
}

.icon-info {
    display: flex;
    gap:12px;
    align-items: center;
}

.icon-info h4 {
    display: flex;
    align-items: center;
    color: #0E1F2C;
    font-weight: 400;
}

.icon-info img {
    height:fit-content;
}

/*Партнерский материал*/
.main-contract{
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blocks-contract{
    display: flex;
    flex-direction: row;
    width: 1,025.38px;
    height: 232px;
    padding: 40px 0px 0px 0px;
}

.block-contract-1{
    width: 475px;
    height: 80px;
    padding-top: 43px;
    padding-left: 21px;
    padding-right: 32px;
}

.block-contract-1 div {
    color:#F5F8FD;
}

.blocks-contract img {
    width: 497.38px;
    height: 212px;
}

.block-infos-contract{
    width: 528px;
    height: 212px;
    background: #3B81BB;
}

.contract_button {
    background-color: #3B81BB;
    color: #F5F8FD;
    padding: 12px 22px 12px 22px;
    border-radius: 5px;
    display: flex;
    border: 1px solid #F5F8FD;
 }

 .block-contract-2 {
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
 }

 /* футер*/
footer {
    background-color: #0E1F2C;
}
.footer-content {
    display: flex;
    justify-content: space-between;
}
.golos-text-footer {
    font-family: "Golos Text";
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 21px;
    color: white;
}
.contact-footer-description {
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 20px;
}
.contact-footer {
    padding: 25px 0px 25px 0px;
}
.golos-text-footer {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 18px;
    color: white;
}
.golos-text-footer-desc {
    font-family: "Golos Text";
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 18px;
    color: white;
}
.logo-footer {
    padding: 14.5px 0px 14.5px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 144px;
}
.logo-footer img {
    width: 88px;
    height: 88px;
}
.shares {
    display: flex;
    justify-content: flex-end;
    gap: 15px;

}
.shares div  {
    display: flex;
    width: 22px;
    height: 22px;
}
.shares div img  {
    width: 22px;
    height: 22px;
}

